body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #38bdf8;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 300px;
}
#hasil {
    margin-top: 50px;
    min-height: 50px;
    transition: 2s ease;
}
