body {
    font-family: Arial, sans-serif;
    background-image: url("Screenshot 2026-03-18 193418.png");
    background-size: contain;
    background-repeat: no repead;
    background-position: center;
    background-attachmen: fixed;
    background-
    color: white;
    padding: 50px;
    text-align: center;
}

h1 {
    color: #38bdf8;
    text-align: center;
}
.prgf {
    text-indent: 40px;
    text-align: left;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 300px;
}
#hasil {
    align: center;
    margin-top: 50px;
    min-height: 50px;
    transition: 2s ease;
}
button {
    background: linear-gradient(135deg, #38bdf8, #6366f1);
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
img {
    max-width: 100%;
    height: auto;
}
